{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "tabWidth": 4,
    "plugins": ["prettier-plugin-astro", "prettier-plugin-sentences-per-line"],
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "astro"
            }
        },
        {
            "files": "*.mdx",
            "options": {
                "proseWrap": "preserve"
            }
        }
    ]
}
